<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headerLinks') %>
    <title>Blogs</title>
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="container mb-3">
        <% blogs.forEach(blog => { %>
             <div class="card mt-4">
                 <div class="card-body">
                     <h4 class="card-title"><%= blog.blogTitle %></h4>
                     <div class="card-subtitle text-muted mb-2">
                        <%= blog.createdAt.toLocaleDateString() %>
                        <div><b>(By <%= blog.author %>)</b></div>
                     </div>
                     <div class="card-text mb-2">
                        <%= blog.blogDesc %>
                        
                     </div>
                     <a href="/viewblog/<%= blog.email %>/<%= blog._id %>"><button class="btn btn-primary">Read More</button></a>
                 </div>
             </div>
        <% }) %>
    </div>

    <%- include('../partials/footer') %>
</body>
<%- include('../partials/footerLinks') %>
</html>