<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headerLinks') %>
    <title>Books</title>
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="container mt-3">
        <div class="allBooks book-grid book-grid-large mt-3 mb-3">
            <% books.forEach(book => { %>
                <div class="mb-2">
                    <div class="bookImage">
                        <img src="<%= book.covPicPath%>" class="img-fluid d-block book-cover book-cover-large" alt="...">
                    </div>
                    <div class="bookDetails">
                        <h4 class="card-title"><%= book.bookTitle %></h4>
                        <div class="card-subtitle text-muted mb-2">
                            <%= book.createdAt.toLocaleDateString() %>
                        </div>
                        <div class="card-subtitle text-muted mb-2">
                            <b>(By <%= book.author %>)</b>
                        </div>
                        <div class="mx-auto">
                            <a href="/viewbook/<%= book.email %>/<%= book._id %>" class="btn btn-primary">View</a>
                            <a href="/comment/<%= book.email %>/<%= book._id %>" class="btn btn-info">Comment</a>
                        </div>                        
                    </div>
                </div> 
            <% }) %>              
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>
<%- include('../partials/footerLinks') %>
</html>