<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headerLinks') %>
    <title>MyBooks</title>
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="container-fluid mainHeader viewBook">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main-header-right viewCoverImg">
                        <img src="<%= book.covPicPath %>" class="img-fluid d-block viewBookImg" alt="...">
                    </div>

                    <div class="col-md-6 col-12 main-header-left mt-auto mb-4">
                        <h4 class="mb-2"><%= book.bookTitle %></h4>
                        <div class="text-muted mb-2">
                            <%= book.createdAt.toLocaleDateString() %>
                        </div>
                        <div class="card mt-3 mb-3">
                            <div class="card-body">
                                <%= book.bookDesc %>
                            </div> 
                        </div>
                        <a href="/downloadbook/<%= book._id %>"><button class="btn btn-success">Download</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>
<%- include('../partials/footerLinks') %>
</html>